<div id="<%= dom_id project_history %>">
  <p>
    <strong>Project:</strong>
    <%= project_history.project_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= project_history.user_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= project_history.comment %>
  </p>

  <p>
    <strong>Status before:</strong>
    <%= project_history.status_before %>
  </p>

  <p>
    <strong>Status after:</strong>
    <%= project_history.status_after %>
  </p>

</div>
